@tailwind base;
@tailwind components;
@tailwind utilities;

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #ffffff !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5rem;
}

em-emoji-picker {
    /* --background-rgb: 85, 170, 255; */
    --border-radius: 8px;
    --category-icon-size: 24px;
    --color-border-over: rgba(0, 0, 0, 0.1);
    --color-border: rgba(0, 0, 0, 0.05);
    /* --font-family: "Comic Sans MS", "Chalkboard SE", cursive; */
    --font-size: 20px;
    /* --rgb-accent: 255, 105, 180; */
    /* --rgb-background: 262, 240, 283; */
    /* --rgb-color: 102, 51, 153; */
    /* --rgb-input: 255, 235, 235; */
    /* --shadow: 5px 5px 15px -8px rebeccapurple; */

    height: 25dvh;
    min-height: 400px;
    max-height: 800px;
    position: absolute;
    top: -45dvh;
    right: 0;
}